In [22]:
import data

In [1]:
from smackbang.matches import get_matches

In [2]:
from textblob import TextBlob
import tweepy
import matplotlib.pyplot as plt
import pandas as pd
import re
from nltk.sentiment.vader import SentimentIntensityAnalyzer

In [3]:
# Authentication
consumerKey = "PqA88zMUxSwVZi5hJpKdVKT4L"
consumerSecret = "WQ1xDXrygO4US93heMenGkj5z6DZeUQrZDIyoACAVZqtzulpPc"
accessToken = "1499085994561310727-p9J1gRV1tsLrVowGCvinw3lEvMHB5z"
accessTokenSecret = "zVxDSNXC8qmv2ZR5ZD6bE7rT0EmaRewTJxakYlQx89ncL"
auth = tweepy.OAuthHandler(consumerKey, consumerSecret)
auth.set_access_token(accessToken, accessTokenSecret)
api = tweepy.API(auth)

In [14]:
#Sentiment Analysis

def analyze_tweet(cities):
    noOfTweet = 2000
    list_df= []
    for city in cities:      

        #tweets = tweepy.Cursor(api.search_tweets(), q=keyword).items(noOfTweet)
        tweets = api.search_tweets(q=city, count=noOfTweet)

        tweet_list = []

        for tweet in tweets:
            tweet_list.append(tweet.text)

        #Tweets to DF
        tweet_list = pd.DataFrame(tweet_list)

        #Clean the data
        tweet_list.drop_duplicates(inplace = True)
        tw_list = pd.DataFrame(tweet_list)

        #Make another column to compare
        tw_list["text"] = tw_list[0]

        #More cleaning
        remove_rt = lambda x: re.sub('RT @\w+:'," ",x)
        rt = lambda x: re.sub('(@[A-Za-z0â€“9]+)|(\w+:\/\/\S+)'," ",x)
        removen = lambda x: re.sub('\n',' ', x)
        tw_list["text"] = tw_list.text.map(remove_rt).map(rt).map(removen)
        tw_list["text"] = tw_list.text.str.lower()

        #I will try to simplify this
        tw_list[["polarity", "subjectivity"]] = tw_list["text"].apply(lambda Text: pd.Series(TextBlob(Text).sentiment))
        for index, row in tw_list["text"].iteritems():
            score = SentimentIntensityAnalyzer().polarity_scores(row)
            neg = score["neg"]
            neu = score["neu"]
            pos = score["pos"]
            comp = score["compound"]
            if neg > pos:
                tw_list.loc[index, "sentiment"] = "negative"
            elif pos > neg:
                tw_list.loc[index, "sentiment"] = "positive"
            else:
                tw_list.loc[index, "sentiment"] = "neutral"
                tw_list.loc[index, "neg"] = neg
                tw_list.loc[index, "neu"] = neu
                tw_list.loc[index, "pos"] = pos
                tw_list.loc[index, "compound"] = comp

        def thumb(neg,neu,pos):
            if pos+(neu/2) >= neg+(neu/2):
                return "ğŸ‘"
            else:
                return "ğŸ‘"

        #Output a simplified DF
        def count_values_in_column(data,feature):
            
            total=data.loc[:,feature].value_counts(dropna=False)
            percentage=round(data.loc[:,feature].value_counts(dropna=False,normalize=True)*100,2)
            df= pd.concat([total,percentage],axis=1,keys=["Total","Percentage"])
            df["City"] = city
            df["Verdict"] = thumb(df["Total"].loc["negative"], df["Total"].loc["neutral"], df["Total"].loc["positive"])
            list_df.append(df)


        #Count_values for sentiment
        count_values_in_column(tw_list,"sentiment")
    result =  pd.concat(list_df)
    return result.reset_index(drop=True).drop(columns=["Total","Percentage"]).drop_duplicates()

In [19]:
analyze_tweet(["Japan","Russia","Korea"])

   Total  Percentage    City Verdict
0     72       85.71   Japan       ğŸ‘
1      9       10.71   Japan       ğŸ‘
2      3        3.57   Japan       ğŸ‘
3     37       40.66  Russia       ğŸ‘
4     31       34.07  Russia       ğŸ‘
5     23       25.27  Russia       ğŸ‘
6     47       62.67   Korea       ğŸ‘
7     15       20.00   Korea       ğŸ‘
8     13       17.33   Korea       ğŸ‘

In [5]:
matches_df = get_matches(origin_one='NRT', origin_two='SYD', departure_date='01/04/2022', continent='AS', return_date='', currency='USD')

In [24]:
pwd

'/Users/norty/code/yourpandaboy/smackbang/smackbang/smackbang'

In [8]:
cities = matches_df.index.values

In [10]:
d = analyze_tweet(cities)

In [13]:
d.reset_index(drop=True).drop(columns=["Total","Percentage"]).drop_duplicates()

                City Verdict
0            Bangkok       ğŸ‘
3              Hanoi       ğŸ‘
6              Osaka       ğŸ‘
9       Kuala Lumpur       ğŸ‘
12           Fukuoka       ğŸ‘
15            Taipei       ğŸ‘
18  Ho Chi Minh City       ğŸ‘
21         Singapore       ğŸ‘
24            Manila       ğŸ‘
27           Jakarta       ğŸ‘
30             Seoul       ğŸ‘
33        Chiang Mai       ğŸ‘
36             Dhaka       ğŸ‘
39        Phnom Penh       ğŸ‘
42           Kolkata       ğŸ‘
45           Chennai       ğŸ‘
48         Abu Dhabi       ğŸ‘
51          Istanbul       ğŸ‘