In [1]:
from smackbang.matches import get_matches
import pandas as pd
%load_ext autoreload
%autoreload 2

In [2]:
df = get_matches(origin_one='NRT',origin_two='SYD',departure_date='01/04/2022')

In [3]:
df

                  price       duration        total_stops        distance  \
cityFrom         Sydney Tokyo   Sydney  Tokyo      Sydney Tokyo    Sydney
cityTo
Bangkok             350   441     9.83    6.5           0     0   7523.15
Osaka               739    80    12.33    1.5           1     0   7824.93
Fukuoka             738    82    13.08   2.08           1     0   7823.25
Hanoi               387   439     18.0   6.33           1     0   7798.15
Phuket City         325   503      9.5   9.08           0     1    7275.7
Kuala Lumpur        290   540     8.83  14.67           0     1   6591.75
Taipei              454   377    21.08   3.67           1     0   7293.46
Nagoya              755   104    23.33   1.25           1     0   7804.21
Singapore           269   610     8.25   7.25           0     0   6301.43
Ho Chi Minh City    453   442     8.92   9.08           0     1   6853.68
Seoul               696   277    22.67    2.5           1     0   8351.95
Jakarta             517   502    14.33  10.75           1     1   5525.02
Manila              476   544     8.33    5.0           0     0   6269.74
Da Nang             556   490    27.75   9.83           1     1   7190.96
Chiang Mai          544   504    23.83  10.58           1     1   8064.84
Kolkata             614   449     33.0  16.25           1     1   9150.55
Cebu                501   604     20.0  18.08           1     1   5704.24
Chennai             664   473    18.58  15.52           1     1   9137.84
Istanbul            554   589    30.67  19.25           2     1  14934.27
Abu Dhabi           607   565    42.33  11.75           2     0  12074.63

                                    local_departure                            \
cityFrom            Tokyo                    Sydney                     Tokyo
cityTo
Bangkok           4649.75  2022-04-01T10:50:00.000Z  2022-04-01T10:20:00.000Z
Osaka              462.63  2022-04-01T21:45:00.000Z  2022-04-01T07:00:00.000Z
Fukuoka            940.88  2022-04-01T21:45:00.000Z  2022-04-01T07:10:00.000Z
Hanoi             3723.95  2022-04-01T13:25:00.000Z  2022-04-01T09:15:00.000Z
Phuket City       5260.74  2022-04-01T11:00:00.000Z  2022-04-01T12:00:00.000Z
Kuala Lumpur      5414.54  2022-04-01T06:25:00.000Z  2022-04-01T19:00:00.000Z
Taipei            2183.46  2022-04-01T17:50:00.000Z  2022-04-01T13:50:00.000Z
Nagoya             318.77  2022-04-01T21:45:00.000Z  2022-04-01T07:20:00.000Z
Singapore         5363.07  2022-04-01T07:45:00.000Z  2022-04-01T19:00:00.000Z
Ho Chi Minh City  4388.16  2022-04-01T07:00:00.000Z  2022-04-01T09:15:00.000Z
Seoul              1258.3  2022-04-01T19:05:00.000Z  2022-04-01T12:00:00.000Z
Jakarta           5845.38  2022-04-01T19:05:00.000Z  2022-04-01T10:20:00.000Z
Manila             3054.2  2022-04-01T13:25:00.000Z  2022-04-01T13:10:00.000Z
Da Nang            3869.9  2022-04-01T16:00:00.000Z  2022-04-01T09:15:00.000Z
Chiang Mai        4471.46  2022-04-01T19:05:00.000Z  2022-04-01T12:00:00.000Z
Kolkata           5190.27  2022-04-01T19:05:00.000Z  2022-04-01T12:00:00.000Z
Cebu               3283.3  2022-04-01T17:45:00.000Z  2022-04-01T19:00:00.000Z
Chennai           6498.72  2022-04-01T10:30:00.000Z  2022-04-01T12:00:00.000Z
Istanbul          8980.16  2022-04-01T13:25:00.000Z  2022-04-01T12:00:00.000Z
Abu Dhabi         8097.35  2022-04-01T13:25:00.000Z  2022-04-01T16:55:00.000Z

                             local_arrival                            \
cityFrom                            Sydney                     Tokyo
cityTo
Bangkok           2022-04-01T16:40:00.000Z  2022-04-01T16:30:00.000Z
Osaka             2022-04-02T08:05:00.000Z  2022-04-01T08:35:00.000Z
Fukuoka           2022-04-02T08:50:00.000Z  2022-04-01T09:15:00.000Z
Hanoi             2022-04-02T11:25:00.000Z  2022-04-01T13:35:00.000Z
Phuket City       2022-04-01T16:30:00.000Z  2022-04-01T19:05:00.000Z
Kuala Lumpur      2022-04-01T21:35:00.000Z  2022-04-02T08:40:00.000Z
Taipei            2022-04-02T13:10:00.000Z  2022-04-01T16:30:00.000Z
Nagoya            2022-04-02T19:05:00.000Z  2022-04-01T11:40:00.000Z
Singapore         2022-04-01T16:50:00.000Z  2022-04-02T01:15:00.000Z
Ho Chi Minh City  2022-04-01T16:10:00.000Z  2022-04-01T18:15:00.000Z
Seoul             2022-04-02T15:45:00.000Z  2022-04-01T14:40:00.000Z
Jakarta           2022-04-02T07:05:00.000Z  2022-04-01T19:05:00.000Z
Manila            2022-04-01T18:50:00.000Z  2022-04-01T17:30:00.000Z
Da Nang           2022-04-02T15:45:00.000Z  2022-04-01T17:05:00.000Z
Chiang Mai        2022-04-02T14:55:00.000Z  2022-04-01T20:35:00.000Z
Kolkata           2022-04-02T22:35:00.000Z  2022-04-02T00:45:00.000Z
Cebu              2022-04-02T12:05:00.000Z  2022-04-02T12:05:00.000Z
Chennai           2022-04-01T23:35:00.000Z  2022-04-02T00:01:00.000Z
Istanbul          2022-04-02T12:05:00.000Z  2022-04-02T08:10:00.000Z
Abu Dhabi         2022-04-03T00:45:00.000Z  2022-04-01T23:40:00.000Z

                                                          deep_link  \
cityFrom                                                     Sydney
cityTo
Bangkok           https://www.kiwi.com/deep?from=SYD&to=BKK&flig...
Osaka             https://www.kiwi.com/deep?from=SYD&to=ITM&flig...
Fukuoka           https://www.kiwi.com/deep?from=SYD&to=FUK&flig...
Hanoi             https://www.kiwi.com/deep?from=SYD&to=HAN&flig...
Phuket City       https://www.kiwi.com/deep?from=SYD&to=HKT&flig...
Kuala Lumpur      https://www.kiwi.com/deep?from=SYD&to=KUL&flig...
Taipei            https://www.kiwi.com/deep?from=SYD&to=TPE&flig...
Nagoya            https://www.kiwi.com/deep?from=SYD&to=NGO&flig...
Singapore         https://www.kiwi.com/deep?from=SYD&to=SIN&flig...
Ho Chi Minh City  https://www.kiwi.com/deep?from=SYD&to=SGN&flig...
Seoul             https://www.kiwi.com/deep?from=SYD&to=ICN&flig...
Jakarta           https://www.kiwi.com/deep?from=SYD&to=CGK&flig...
Manila            https://www.kiwi.com/deep?from=SYD&to=MNL&flig...
Da Nang           https://www.kiwi.com/deep?from=SYD&to=DAD&flig...
Chiang Mai        https://www.kiwi.com/deep?from=SYD&to=CNX&flig...
Kolkata           https://www.kiwi.com/deep?from=SYD&to=CCU&flig...
Cebu              https://www.kiwi.com/deep?from=SYD&to=CEB&flig...
Chennai           https://www.kiwi.com/deep?from=SYD&to=MAA&flig...
Istanbul          https://www.kiwi.com/deep?from=SYD&to=IST&flig...
Abu Dhabi         https://www.kiwi.com/deep?from=SYD&to=AUH&flig...

                                                                     \
cityFrom                                                      Tokyo
cityTo
Bangkok           https://www.kiwi.com/deep?from=NRT&to=BKK&flig...
Osaka             https://www.kiwi.com/deep?from=NRT&to=ITM&flig...
Fukuoka           https://www.kiwi.com/deep?from=NRT&to=FUK&flig...
Hanoi             https://www.kiwi.com/deep?from=NRT&to=HAN&flig...
Phuket City       https://www.kiwi.com/deep?from=NRT&to=HKT&flig...
Kuala Lumpur      https://www.kiwi.com/deep?from=NRT&to=KUL&flig...
Taipei            https://www.kiwi.com/deep?from=NRT&to=TPE&flig...
Nagoya            https://www.kiwi.com/deep?from=NRT&to=NGO&flig...
Singapore         https://www.kiwi.com/deep?from=NRT&to=SIN&flig...
Ho Chi Minh City  https://www.kiwi.com/deep?from=NRT&to=SGN&flig...
Seoul             https://www.kiwi.com/deep?from=NRT&to=ICN&flig...
Jakarta           https://www.kiwi.com/deep?from=NRT&to=CGK&flig...
Manila            https://www.kiwi.com/deep?from=NRT&to=MNL&flig...
Da Nang           https://www.kiwi.com/deep?from=NRT&to=DAD&flig...
Chiang Mai        https://www.kiwi.com/deep?from=NRT&to=CNX&flig...
Kolkata           https://www.kiwi.com/deep?from=NRT&to=CCU&flig...
Cebu              https://www.kiwi.com/deep?from=NRT&to=CEB&flig...
Chennai           https://www.kiwi.com/deep?from=NRT&to=MAA&flig...
Istanbul          https://www.kiwi.com/deep?from=NRT&to=IST&flig...
Abu Dhabi         https://www.kiwi.com/deep?from=NRT&to=AUH&flig...

                 combined_price
cityFrom
cityTo
Bangkok                     791
Osaka                       819
Fukuoka                     820
Hanoi                       826
Phuket City                 828
Kuala Lumpur                830
Taipei                      831
Nagoya                      859
Singapore                   879
Ho Chi Minh City            895
Seoul                       973
Jakarta                    1019
Manila                     1020
Da Nang                    1046
Chiang Mai                 1048
Kolkata                    1063
Cebu                       1105
Chennai                    1137
Istanbul                   1143
Abu Dhabi                  1172

In [8]:
airports = pd.read_csv('../raw_data/airport_codes.csv')

In [9]:
airports

,city_name,name,Unnamed: 2,continent,iso_country,iso_region,municipality,gps_code,iata_code,lat,lon,elevation_ft,ident
0,Aalborg - Aalborg Airport,Aalborg Airport,NaN,EU,DK,DK-81,Aalborg,EKYT,AAL,57.092759,9.849243,10.0,EKYT
1,Albuquerque - Albuquerque International Sunport,Albuquerque International Sunport,NaN,NaN,US,US-NM,Albuquerque,KABQ,ABQ,35.040199,-106.609001,5355.0,KABQ
2,Abuja - Nnamdi Azikiwe International Airport,Nnamdi Azikiwe International Airport,NaN,AF,NG,NG-FC,Abuja,DNAA,ABV,9.006790,7.263170,1123.0,DNAA
3,Aberdeen - Aberdeen Dyce Airport,Aberdeen Dyce Airport,NaN,EU,GB,GB-SCT,Aberdeen,EGPD,ABZ,57.201900,-2.197780,215.0,EGPD
4,Acapulco - General Juan N Alvarez Internationa...,General Juan N Alvarez International Airport,NaN,NaN,MX,MX-GRO,Acapulco,MMAA,ACA,16.757099,-99.753998,16.0,MMAA
...,...,...,...,...,...,...,...,...,...,...,...,...,...
568,Samarinda - Sungai Siring International Airport,Sungai Siring International Airport,NaN,AS,ID,ID-KI,Samarinda,NaN,NaN,-0.373611,117.255556,82.0,ID-0017
569,Lal-lo - Northern Cagayan International Airport,Northern Cagayan International Airport,NaN,AS,PH,PH-CAG,Lal-lo,NaN,NaN,18.182388,121.745853,NaN,PH-0073
570,Tarsus - Çukurova Airport,Çukurova Airport,NaN,AS,TR,TR-33,Tarsus,NaN,NaN,36.895545,35.069381,15.0,TR-0044
571,- atl,atl,NaN,NaN,US,US-U-A,NaN,NaN,NaN,33.137551,-84.375000,NaN,US-0303
572,Kazan - Borisoglebskoye Airport,Borisoglebskoye Airport,NaN,EU,RU,RU-TA,Kazan,UWKG,NaN,55.866699,49.133301,213.0,UWKG

In [7]:
'Da Nang' in list(airports['municipality'])

True