In [1]:
from smackbang.matches import get_matches
import pandas as pd
%load_ext autoreload
%autoreload 2

In [131]:
df = get_matches(origin_one='NRT',origin_two='SYD',departure_date='01/04/2022',continent='AS')

In [132]:
df

                  price       duration        total_stops       distance  \
cityFrom         Sydney Tokyo   Sydney  Tokyo      Sydney Tokyo   Sydney
cityTo
Bangkok             349   442     9.83    6.5           0     0  7523.15
Hanoi               387   438     18.0   6.33           1     0  7798.15
Kuala Lumpur        290   538     8.83  14.67           0     1  6591.75
Phuket City         325   506      9.5   9.08           0     1   7275.7
Osaka               743    96    12.33    1.5           1     0   7790.5
Fukuoka             739   129    13.08   2.08           1     0  7823.25
Taipei              453   417     19.0   3.67           1     0  7293.46
Nagoya              773   104    23.33   1.33           1     0  7804.21
Singapore           269   628     8.25   7.25           0     0  6301.43
Ho Chi Minh City    461   444     8.92   9.08           0     1  6853.68
Okinawa Island      812   102    16.33   2.92           1     0  7141.44
Sapporo             818   108    12.67   1.67           1     0   8594.9
Chiang Mai          498   504    23.83  10.58           1     1  8064.84
Seoul               731   278    22.67    2.5           1     0  8351.95
Manila              476   542     8.33    5.0           0     0  6269.74
Dhaka               577   472    34.08  21.25           1     1  9092.54
Kolkata             618   447    36.08  16.25           1     1  9150.55
Jakarta             515   575    14.33  10.75           1     1  5525.02
Phnom Penh          561   551    11.83  11.58           1     1  7045.67
Cebu                533   594    21.08  18.08           2     1  5704.24

                                    local_departure                            \
cityFrom            Tokyo                    Sydney                     Tokyo
cityTo
Bangkok           4649.75  2022-04-01T10:50:00.000Z  2022-04-01T12:00:00.000Z
Hanoi             3723.95  2022-04-01T13:25:00.000Z  2022-04-01T09:15:00.000Z
Kuala Lumpur      5414.54  2022-04-01T06:25:00.000Z  2022-04-01T19:00:00.000Z
Phuket City       5260.74  2022-04-01T11:00:00.000Z  2022-04-01T12:00:00.000Z
Osaka              462.63  2022-04-01T21:45:00.000Z  2022-04-01T07:50:00.000Z
Fukuoka            940.88  2022-04-01T21:45:00.000Z  2022-04-01T07:10:00.000Z
Taipei            2183.46  2022-04-01T17:50:00.000Z  2022-04-01T13:50:00.000Z
Nagoya             318.77  2022-04-01T21:45:00.000Z  2022-04-01T07:20:00.000Z
Singapore         5363.07  2022-04-01T08:15:00.000Z  2022-04-01T19:00:00.000Z
Ho Chi Minh City  4388.16  2022-04-01T07:00:00.000Z  2022-04-01T09:15:00.000Z
Okinawa Island    1613.78  2022-04-01T21:45:00.000Z  2022-04-01T08:00:00.000Z
Sapporo            788.44  2022-04-01T21:45:00.000Z  2022-04-01T07:00:00.000Z
Chiang Mai        4471.46  2022-04-01T11:00:00.000Z  2022-04-01T12:00:00.000Z
Seoul              1258.3  2022-04-01T19:05:00.000Z  2022-04-01T12:00:00.000Z
Manila             3054.2  2022-04-01T13:25:00.000Z  2022-04-01T13:10:00.000Z
Dhaka             4951.96  2022-04-01T16:00:00.000Z  2022-04-01T12:00:00.000Z
Kolkata           5190.27  2022-04-01T16:00:00.000Z  2022-04-01T12:00:00.000Z
Jakarta           5845.38  2022-04-01T16:00:00.000Z  2022-04-01T10:20:00.000Z
Phnom Penh         4474.2  2022-04-01T06:00:00.000Z  2022-04-01T13:10:00.000Z
Cebu               3283.3  2022-04-01T17:45:00.000Z  2022-04-01T19:00:00.000Z

                             local_arrival                            \
cityFrom                            Sydney                     Tokyo
cityTo
Bangkok           2022-04-01T16:40:00.000Z  2022-04-01T16:30:00.000Z
Hanoi             2022-04-02T12:10:00.000Z  2022-04-01T13:35:00.000Z
Kuala Lumpur      2022-04-01T21:35:00.000Z  2022-04-02T08:40:00.000Z
Phuket City       2022-04-01T16:30:00.000Z  2022-04-01T19:05:00.000Z
Osaka             2022-04-02T08:05:00.000Z  2022-04-01T10:10:00.000Z
Fukuoka           2022-04-02T08:50:00.000Z  2022-04-01T09:15:00.000Z
Taipei            2022-04-02T13:10:00.000Z  2022-04-01T16:30:00.000Z
Nagoya            2022-04-02T19:05:00.000Z  2022-04-01T16:10:00.000Z
Singapore         2022-04-01T16:50:00.000Z  2022-04-02T01:15:00.000Z
Ho Chi Minh City  2022-04-01T16:10:00.000Z  2022-04-01T18:15:00.000Z
Okinawa Island    2022-04-02T12:05:00.000Z  2022-04-01T10:55:00.000Z
Sapporo           2022-04-02T08:25:00.000Z  2022-04-01T08:40:00.000Z
Chiang Mai        2022-04-02T08:45:00.000Z  2022-04-01T20:35:00.000Z
Seoul             2022-04-02T15:45:00.000Z  2022-04-01T14:40:00.000Z
Manila            2022-04-01T18:50:00.000Z  2022-04-01T17:30:00.000Z
Dhaka             2022-04-02T21:05:00.000Z  2022-04-02T12:10:00.000Z
Kolkata           2022-04-02T22:35:00.000Z  2022-04-02T00:45:00.000Z
Jakarta           2022-04-02T07:05:00.000Z  2022-04-01T19:05:00.000Z
Phnom Penh        2022-04-01T19:05:00.000Z  2022-04-01T22:55:00.000Z
Cebu              2022-04-02T12:05:00.000Z  2022-04-02T12:05:00.000Z

                                                          deep_link  \
cityFrom                                                     Sydney
cityTo
Bangkok           https://www.kiwi.com/deep?from=SYD&to=BKK&flig...
Hanoi             https://www.kiwi.com/deep?from=SYD&to=HAN&flig...
Kuala Lumpur      https://www.kiwi.com/deep?from=SYD&to=KUL&flig...
Phuket City       https://www.kiwi.com/deep?from=SYD&to=HKT&flig...
Osaka             https://www.kiwi.com/deep?from=SYD&to=ITM&flig...
Fukuoka           https://www.kiwi.com/deep?from=SYD&to=FUK&flig...
Taipei            https://www.kiwi.com/deep?from=SYD&to=TPE&flig...
Nagoya            https://www.kiwi.com/deep?from=SYD&to=NGO&flig...
Singapore         https://www.kiwi.com/deep?from=SYD&to=SIN&flig...
Ho Chi Minh City  https://www.kiwi.com/deep?from=SYD&to=SGN&flig...
Okinawa Island    https://www.kiwi.com/deep?from=SYD&to=OKA&flig...
Sapporo           https://www.kiwi.com/deep?from=SYD&to=CTS&flig...
Chiang Mai        https://www.kiwi.com/deep?from=SYD&to=CNX&flig...
Seoul             https://www.kiwi.com/deep?from=SYD&to=ICN&flig...
Manila            https://www.kiwi.com/deep?from=SYD&to=MNL&flig...
Dhaka             https://www.kiwi.com/deep?from=SYD&to=DAC&flig...
Kolkata           https://www.kiwi.com/deep?from=SYD&to=CCU&flig...
Jakarta           https://www.kiwi.com/deep?from=SYD&to=CGK&flig...
Phnom Penh        https://www.kiwi.com/deep?from=SYD&to=PNH&flig...
Cebu              https://www.kiwi.com/deep?from=SYD&to=CEB&flig...

                                                                     \
cityFrom                                                      Tokyo
cityTo
Bangkok           https://www.kiwi.com/deep?from=NRT&to=BKK&flig...
Hanoi             https://www.kiwi.com/deep?from=NRT&to=HAN&flig...
Kuala Lumpur      https://www.kiwi.com/deep?from=NRT&to=KUL&flig...
Phuket City       https://www.kiwi.com/deep?from=NRT&to=HKT&flig...
Osaka             https://www.kiwi.com/deep?from=NRT&to=ITM&flig...
Fukuoka           https://www.kiwi.com/deep?from=NRT&to=FUK&flig...
Taipei            https://www.kiwi.com/deep?from=NRT&to=TPE&flig...
Nagoya            https://www.kiwi.com/deep?from=NRT&to=NGO&flig...
Singapore         https://www.kiwi.com/deep?from=NRT&to=SIN&flig...
Ho Chi Minh City  https://www.kiwi.com/deep?from=NRT&to=SGN&flig...
Okinawa Island    https://www.kiwi.com/deep?from=NRT&to=OKA&flig...
Sapporo           https://www.kiwi.com/deep?from=NRT&to=CTS&flig...
Chiang Mai        https://www.kiwi.com/deep?from=NRT&to=CNX&flig...
Seoul             https://www.kiwi.com/deep?from=NRT&to=ICN&flig...
Manila            https://www.kiwi.com/deep?from=NRT&to=MNL&flig...
Dhaka             https://www.kiwi.com/deep?from=NRT&to=DAC&flig...
Kolkata           https://www.kiwi.com/deep?from=NRT&to=CCU&flig...
Jakarta           https://www.kiwi.com/deep?from=NRT&to=CGK&flig...
Phnom Penh        https://www.kiwi.com/deep?from=NRT&to=PNH&flig...
Cebu              https://www.kiwi.com/deep?from=NRT&to=CEB&flig...

                 combined_price combined_duration        lat         lon
cityFrom
cityTo
Bangkok                     791             16.33  13.681100  100.747002
Hanoi                       825             24.33  21.221201  105.806999
Kuala Lumpur                828              23.5   2.745580  101.709999
Phuket City                 831             18.58        NaN         NaN
Osaka                       839             13.83  34.785500  135.438004
Fukuoka                     868             15.16  33.585899  130.451004
Taipei                      870             22.67  25.077700  121.233002
Nagoya                      877             24.66        NaN         NaN
Singapore                   897              15.5   1.350190  103.994003
Ho Chi Minh City            905              18.0  10.818800  106.652000
Okinawa Island              914             19.25        NaN         NaN
Sapporo                     926             14.34        NaN         NaN
Chiang Mai                 1002             34.41  18.766800   98.962601
Seoul                      1009             25.17  37.558300  126.791000
Manila                     1018             13.33  14.508600  121.019997
Dhaka                      1049             55.33  23.843347   90.397783
Kolkata                    1065             52.33  22.654699   88.446701
Jakarta                    1090             25.08  -6.125570  106.655998
Phnom Penh                 1112             23.41  11.546600  104.844002
Cebu                       1127             39.16        NaN         NaN

In [22]:
df['deep_link']['Sydney'][0]

'https://www.kiwi.com/deep?from=SYD&to=FUK&flightsId=037208554a8b00006032bd25_0%7C037208554a8b00006032bd25_1&price=579&passengers=1&affilid=leestevensmackbang2&lang=en&currency=USD&searchBags=1.1&booking_token=DQWBVth8P-FjjiQ5OKpYOl7gZkogoVyDbLd9IcoC-inBz_o42KGvVGxErdODqf0xXSHiKvJe9XtO5d2Wdt4eamUbIY28GRnltrD65Eo55aRhJEp1gs1V2N3Ogb44Oko8895TKXFzz6WGnbcvbAGc7pzAAtFBFNOzp1ySQ_66lzOIY_XKg2yJ--ory-lkiJaNWnrURWseNnEWPu-BJ_6lzqtZxpBXUid7x9GmkFAILXO6Kq5YakEemHN1v8iZn-VN6_07hMBgVwcFROnGlaINdSJtZ6tjMK-CKO9guTgth5LcOLeTYjd4WtBtXhWdH-yl4NfzHWNZq79B3jJOwNNwUUtgK_7LkDKSwi2RnLoovHWj7-HcqP6edUvyXHMG6M0MvdOHui7ysDEfylfsQ4AKYKvw7xcSrgjGDDYp9_UeMhR32kl3qKmjmFggxVVcRhhTkYhPKN48e1aTnObrMaFNZqshSJsYPS2M5UlJuBiU_Mc-ZrdFm3ctP-E_fhphmQxuk'

In [12]:
airports = pd.read_csv('../data/airport_codes.csv')

In [49]:
airports.columns

Index(['city_airport', 'airport_name', 'continent', 'iso_country',
       'iso_region', 'city', 'gps_code', 'iata_code', 'lat', 'lon',
       'elevation_ft', 'ident'],
      dtype='object')

In [133]:
airports

,city_airport,airport_name,continent,iso_country,iso_region,city,gps_code,iata_code,lat,lon,elevation_ft,ident
0,City or Airport,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Aalborg - Aalborg Airport,Aalborg Airport,EU,DK,DK-81,Aalborg,EKYT,AAL,57.092759,9.849243,10.0,EKYT
2,Albuquerque - Albuquerque International Sunport,Albuquerque International Sunport,NaN,US,US-NM,Albuquerque,KABQ,ABQ,35.040199,-106.609001,5355.0,KABQ
3,Abuja - Nnamdi Azikiwe International Airport,Nnamdi Azikiwe International Airport,AF,NG,NG-FC,Abuja,DNAA,ABV,9.006790,7.263170,1123.0,DNAA
4,Aberdeen - Aberdeen Dyce Airport,Aberdeen Dyce Airport,EU,GB,GB-SCT,Aberdeen,EGPD,ABZ,57.201900,-2.197780,215.0,EGPD
...,...,...,...,...,...,...,...,...,...,...,...,...
569,Samarinda - Sungai Siring International Airport,Sungai Siring International Airport,AS,ID,ID-KI,Samarinda,NaN,NaN,-0.373611,117.255556,82.0,ID-0017
570,Lal-lo - Northern Cagayan International Airport,Northern Cagayan International Airport,AS,PH,PH-CAG,Lal-lo,NaN,NaN,18.182388,121.745853,NaN,PH-0073
571,Tarsus - Çukurova Airport,Çukurova Airport,AS,TR,TR-33,Tarsus,NaN,NaN,36.895545,35.069381,15.0,TR-0044
572,- atl,atl,NaN,US,US-U-A,NaN,NaN,NaN,33.137551,-84.375000,NaN,US-0303
573,Kazan - Borisoglebskoye Airport,Borisoglebskoye Airport,EU,RU,RU-TA,Kazan,UWKG,NaN,55.866699,49.133301,213.0,UWKG

In [36]:
for city in list(df.index):
    print(city in list(airports['city']))

True
True
True
True
False
True
True
False
True
True
False
False
True
True
True
True
True
True
True
True

In [45]:
airports[airports['city']==city]['lat']

459    1.35019
Name: lat, dtype: float64

In [47]:
df

                  price       duration        total_stops       distance  \
cityFrom         Sydney Tokyo   Sydney  Tokyo      Sydney Tokyo   Sydney
cityTo
Fukuoka             641   129    13.08   2.08           1     0  7823.25
Bangkok             349   440     9.83    6.5           0     0  7523.15
Hanoi               387   438     18.0   6.33           1     0  7798.15
Kuala Lumpur        290   538     8.83  14.67           0     1  6591.75
Phuket City         325   506      9.5   9.08           0     1   7275.7
Osaka               744    96    12.33    1.5           1     0   7790.5
Taipei              453   417     19.0   3.67           1     0  7293.46
Nagoya              773   104    23.33   1.25           1     0  7804.21
Singapore           269   628     8.25   7.25           0     0  6301.43
Ho Chi Minh City    461   441     8.92   9.08           0     1  6853.68
Okinawa Island      812   102    16.33   2.92           1     0  7141.44
Sapporo             818   108    12.67   1.67           1     0   8594.9
Chiang Mai          498   504    23.83  10.58           1     1  8064.84
Seoul               731   278    22.67    2.5           1     0  8351.95
Manila              476   542     8.33    5.0           0     0  6269.74
Da Nang             554   489    27.75   9.83           1     1  7190.96
Dhaka               577   467    34.08  21.25           1     1  9092.54
Kolkata             618   447    36.08  16.25           1     1  9150.55
Hong Kong           619   460    18.08    5.0           1     0   7402.0
Jakarta             515   575    14.33  10.75           1     1  5525.02

                                    local_departure                            \
cityFrom            Tokyo                    Sydney                     Tokyo
cityTo
Fukuoka            940.88  2022-04-01T21:45:00.000Z  2022-04-01T07:10:00.000Z
Bangkok           4649.75  2022-04-01T10:50:00.000Z  2022-04-01T12:00:00.000Z
Hanoi             3723.95  2022-04-01T13:25:00.000Z  2022-04-01T09:15:00.000Z
Kuala Lumpur      5414.54  2022-04-01T06:25:00.000Z  2022-04-01T19:00:00.000Z
Phuket City       5260.74  2022-04-01T10:25:00.000Z  2022-04-01T12:00:00.000Z
Osaka              462.63  2022-04-01T21:45:00.000Z  2022-04-01T07:50:00.000Z
Taipei            2183.46  2022-04-01T17:50:00.000Z  2022-04-01T13:50:00.000Z
Nagoya             318.77  2022-04-01T21:45:00.000Z  2022-04-01T07:20:00.000Z
Singapore         5363.07  2022-04-01T08:15:00.000Z  2022-04-01T19:00:00.000Z
Ho Chi Minh City  4388.16  2022-04-01T07:00:00.000Z  2022-04-01T09:15:00.000Z
Okinawa Island    1613.78  2022-04-01T21:45:00.000Z  2022-04-01T08:00:00.000Z
Sapporo            788.44  2022-04-01T21:45:00.000Z  2022-04-01T07:00:00.000Z
Chiang Mai        4471.46  2022-04-01T11:00:00.000Z  2022-04-01T12:00:00.000Z
Seoul              1258.3  2022-04-01T19:05:00.000Z  2022-04-01T12:00:00.000Z
Manila             3054.2  2022-04-01T13:25:00.000Z  2022-04-01T13:10:00.000Z
Da Nang            3869.9  2022-04-01T16:00:00.000Z  2022-04-01T09:15:00.000Z
Dhaka             4951.96  2022-04-01T16:00:00.000Z  2022-04-01T12:00:00.000Z
Kolkata           5190.27  2022-04-01T16:00:00.000Z  2022-04-01T12:00:00.000Z
Hong Kong         2965.46  2022-04-01T22:10:00.000Z  2022-04-01T13:20:00.000Z
Jakarta           5845.38  2022-04-01T16:00:00.000Z  2022-04-01T10:20:00.000Z

                             local_arrival                            \
cityFrom                            Sydney                     Tokyo
cityTo
Fukuoka           2022-04-02T08:50:00.000Z  2022-04-01T09:15:00.000Z
Bangkok           2022-04-01T16:40:00.000Z  2022-04-01T16:30:00.000Z
Hanoi             2022-04-02T12:10:00.000Z  2022-04-01T13:35:00.000Z
Kuala Lumpur      2022-04-01T21:35:00.000Z  2022-04-02T08:40:00.000Z
Phuket City       2022-04-01T16:30:00.000Z  2022-04-01T19:05:00.000Z
Osaka             2022-04-02T08:05:00.000Z  2022-04-01T10:10:00.000Z
Taipei            2022-04-02T13:10:00.000Z  2022-04-01T16:30:00.000Z
Nagoya            2022-04-02T19:05:00.000Z  2022-04-01T11:40:00.000Z
Singapore         2022-04-01T16:50:00.000Z  2022-04-02T01:15:00.000Z
Ho Chi Minh City  2022-04-01T16:10:00.000Z  2022-04-01T19:05:00.000Z
Okinawa Island    2022-04-02T12:05:00.000Z  2022-04-01T10:55:00.000Z
Sapporo           2022-04-02T08:25:00.000Z  2022-04-01T08:40:00.000Z
Chiang Mai        2022-04-02T08:45:00.000Z  2022-04-01T20:35:00.000Z
Seoul             2022-04-02T15:45:00.000Z  2022-04-01T14:40:00.000Z
Manila            2022-04-01T18:50:00.000Z  2022-04-01T17:30:00.000Z
Da Nang           2022-04-02T15:45:00.000Z  2022-04-01T17:05:00.000Z
Dhaka             2022-04-02T21:05:00.000Z  2022-04-02T12:10:00.000Z
Kolkata           2022-04-02T22:35:00.000Z  2022-04-02T00:45:00.000Z
Hong Kong         2022-04-02T13:15:00.000Z  2022-04-01T22:15:00.000Z
Jakarta           2022-04-02T07:05:00.000Z  2022-04-01T19:05:00.000Z

                                                          deep_link  \
cityFrom                                                     Sydney
cityTo
Fukuoka           https://www.kiwi.com/deep?from=SYD&to=FUK&flig...
Bangkok           https://www.kiwi.com/deep?from=SYD&to=BKK&flig...
Hanoi             https://www.kiwi.com/deep?from=SYD&to=HAN&flig...
Kuala Lumpur      https://www.kiwi.com/deep?from=SYD&to=KUL&flig...
Phuket City       https://www.kiwi.com/deep?from=SYD&to=HKT&flig...
Osaka             https://www.kiwi.com/deep?from=SYD&to=ITM&flig...
Taipei            https://www.kiwi.com/deep?from=SYD&to=TPE&flig...
Nagoya            https://www.kiwi.com/deep?from=SYD&to=NGO&flig...
Singapore         https://www.kiwi.com/deep?from=SYD&to=SIN&flig...
Ho Chi Minh City  https://www.kiwi.com/deep?from=SYD&to=SGN&flig...
Okinawa Island    https://www.kiwi.com/deep?from=SYD&to=OKA&flig...
Sapporo           https://www.kiwi.com/deep?from=SYD&to=CTS&flig...
Chiang Mai        https://www.kiwi.com/deep?from=SYD&to=CNX&flig...
Seoul             https://www.kiwi.com/deep?from=SYD&to=ICN&flig...
Manila            https://www.kiwi.com/deep?from=SYD&to=MNL&flig...
Da Nang           https://www.kiwi.com/deep?from=SYD&to=DAD&flig...
Dhaka             https://www.kiwi.com/deep?from=SYD&to=DAC&flig...
Kolkata           https://www.kiwi.com/deep?from=SYD&to=CCU&flig...
Hong Kong         https://www.kiwi.com/deep?from=SYD&to=HKG&flig...
Jakarta           https://www.kiwi.com/deep?from=SYD&to=CGK&flig...

                                                                     \
cityFrom                                                      Tokyo
cityTo
Fukuoka           https://www.kiwi.com/deep?from=NRT&to=FUK&flig...
Bangkok           https://www.kiwi.com/deep?from=NRT&to=BKK&flig...
Hanoi             https://www.kiwi.com/deep?from=NRT&to=HAN&flig...
Kuala Lumpur      https://www.kiwi.com/deep?from=NRT&to=KUL&flig...
Phuket City       https://www.kiwi.com/deep?from=NRT&to=HKT&flig...
Osaka             https://www.kiwi.com/deep?from=NRT&to=ITM&flig...
Taipei            https://www.kiwi.com/deep?from=NRT&to=TPE&flig...
Nagoya            https://www.kiwi.com/deep?from=NRT&to=NGO&flig...
Singapore         https://www.kiwi.com/deep?from=NRT&to=SIN&flig...
Ho Chi Minh City  https://www.kiwi.com/deep?from=NRT&to=SGN&flig...
Okinawa Island    https://www.kiwi.com/deep?from=NRT&to=OKA&flig...
Sapporo           https://www.kiwi.com/deep?from=NRT&to=CTS&flig...
Chiang Mai        https://www.kiwi.com/deep?from=NRT&to=CNX&flig...
Seoul             https://www.kiwi.com/deep?from=NRT&to=ICN&flig...
Manila            https://www.kiwi.com/deep?from=NRT&to=MNL&flig...
Da Nang           https://www.kiwi.com/deep?from=NRT&to=DAD&flig...
Dhaka             https://www.kiwi.com/deep?from=NRT&to=DAC&flig...
Kolkata           https://www.kiwi.com/deep?from=NRT&to=CCU&flig...
Hong Kong         https://www.kiwi.com/deep?from=NRT&to=HKG&flig...
Jakarta           https://www.kiwi.com/deep?from=NRT&to=CGK&flig...

                 combined_price combined_duration lat
cityFrom
cityTo
Fukuoka                     770             15.16 NaN
Bangkok                     789             16.33 NaN
Hanoi                       825             24.33 NaN
Kuala Lumpur                828              23.5 NaN
Phuket City                 831             18.58 NaN
Osaka                       840             13.83 NaN
Taipei                      870             22.67 NaN
Nagoya                      877             24.58 NaN
Singapore                   897              15.5 NaN
Ho Chi Minh City            902              18.0 NaN
Okinawa Island              914             19.25 NaN
Sapporo                     926             14.34 NaN
Chiang Mai                 1002             34.41 NaN
Seoul                      1009             25.17 NaN
Manila                     1018             13.33 NaN
Da Nang                    1043             37.58 NaN
Dhaka                      1044             55.33 NaN
Kolkata                    1065             52.33 NaN
Hong Kong                  1079             23.08 NaN
Jakarta                    1090             25.08 NaN

In [121]:

df['lat'] = np.nan
df['lon'] = np.nan

In [122]:
df['lat']

cityTo
Bangkok            NaN
Fukuoka            NaN
Hanoi              NaN
Kuala Lumpur       NaN
Phuket City        NaN
Osaka              NaN
Taipei             NaN
Nagoya             NaN
Singapore          NaN
Ho Chi Minh City   NaN
Okinawa Island     NaN
Sapporo            NaN
Chiang Mai         NaN
Seoul              NaN
Manila             NaN
Da Nang            NaN
Dhaka              NaN
Kolkata            NaN
Hong Kong          NaN
Jakarta            NaN
Name: lat, dtype: float64

In [123]:
city

'Jakarta'

In [124]:
airports[airports['city']=='Singapore']['lat']

459    1.35019
Name: lat, dtype: float64

In [125]:
df.loc[city]['lat']

cityFrom
    NaN
Name: Jakarta, dtype: object

In [126]:
list(airports[airports['city']=='Singapore']['lat'])[0]

1.35019

In [127]:
import numpy as np
for city in list(df.index):
    if city in list(airports['city']):
        df.loc[city,'lat']=list(airports[airports['city']==city]['lat'])[0]
        df.loc[city,'lon']=list(airports[airports['city']==city]['lon'])[0]

In [128]:
df

                  price       duration        total_stops       distance  \
cityFrom         Sydney Tokyo   Sydney  Tokyo      Sydney Tokyo   Sydney
cityTo
Bangkok             349   440     9.83    6.5           0     0  7523.15
Fukuoka             661   129    13.08   2.08           1     0  7823.25
Hanoi               387   438     18.0   6.33           1     0  7798.15
Kuala Lumpur        290   538     8.83  14.67           0     1  6591.75
Phuket City         325   506      9.5   9.08           0     1   7275.7
Osaka               744    96    12.33    1.5           1     0   7790.5
Taipei              453   417     19.0   3.67           1     0  7293.46
Nagoya              773   104    23.33   1.25           1     0  7804.21
Singapore           269   628     8.25   7.25           0     0  6301.43
Ho Chi Minh City    461   441     8.92   9.08           0     1  6853.68
Okinawa Island      812   102    16.33   2.92           1     0  7141.44
Sapporo             818   108    12.67   1.67           1     0   8594.9
Chiang Mai          498   504    23.83  10.58           1     1  8064.84
Seoul               731   278    22.67    2.5           1     0  8351.95
Manila              476   542     8.33    5.0           0     0  6269.74
Da Nang             554   489    27.75   9.83           1     1  7190.96
Dhaka               577   472    34.08  21.25           1     1  9092.54
Kolkata             618   447    36.08  16.25           1     1  9150.55
Hong Kong           619   453    18.08    5.0           1     0   7402.0
Jakarta             515   575    14.33  10.75           1     1  5525.02

                                    local_departure                            \
cityFrom            Tokyo                    Sydney                     Tokyo
cityTo
Bangkok           4649.75  2022-04-01T10:50:00.000Z  2022-04-01T12:00:00.000Z
Fukuoka            940.88  2022-04-01T21:45:00.000Z  2022-04-01T07:10:00.000Z
Hanoi             3723.95  2022-04-01T13:25:00.000Z  2022-04-01T09:15:00.000Z
Kuala Lumpur      5414.54  2022-04-01T06:25:00.000Z  2022-04-01T19:00:00.000Z
Phuket City       5260.74  2022-04-01T10:25:00.000Z  2022-04-01T12:00:00.000Z
Osaka              462.63  2022-04-01T21:45:00.000Z  2022-04-01T07:50:00.000Z
Taipei            2183.46  2022-04-01T17:50:00.000Z  2022-04-01T13:50:00.000Z
Nagoya             318.77  2022-04-01T21:45:00.000Z  2022-04-01T07:20:00.000Z
Singapore         5363.07  2022-04-01T08:15:00.000Z  2022-04-01T19:00:00.000Z
Ho Chi Minh City  4388.16  2022-04-01T07:00:00.000Z  2022-04-01T09:15:00.000Z
Okinawa Island    1613.78  2022-04-01T21:45:00.000Z  2022-04-01T08:00:00.000Z
Sapporo            788.44  2022-04-01T21:45:00.000Z  2022-04-01T07:00:00.000Z
Chiang Mai        4471.46  2022-04-01T11:00:00.000Z  2022-04-01T12:00:00.000Z
Seoul              1258.3  2022-04-01T19:05:00.000Z  2022-04-01T12:00:00.000Z
Manila             3054.2  2022-04-01T13:25:00.000Z  2022-04-01T13:10:00.000Z
Da Nang            3869.9  2022-04-01T16:00:00.000Z  2022-04-01T09:15:00.000Z
Dhaka             4951.96  2022-04-01T16:00:00.000Z  2022-04-01T12:00:00.000Z
Kolkata           5190.27  2022-04-01T16:00:00.000Z  2022-04-01T12:00:00.000Z
Hong Kong         2965.46  2022-04-01T22:10:00.000Z  2022-04-01T13:20:00.000Z
Jakarta           5845.38  2022-04-01T16:00:00.000Z  2022-04-01T10:20:00.000Z

                             local_arrival                            \
cityFrom                            Sydney                     Tokyo
cityTo
Bangkok           2022-04-01T16:40:00.000Z  2022-04-01T16:30:00.000Z
Fukuoka           2022-04-02T08:50:00.000Z  2022-04-01T09:15:00.000Z
Hanoi             2022-04-02T12:10:00.000Z  2022-04-01T13:35:00.000Z
Kuala Lumpur      2022-04-01T21:35:00.000Z  2022-04-02T08:40:00.000Z
Phuket City       2022-04-01T16:30:00.000Z  2022-04-01T19:05:00.000Z
Osaka             2022-04-02T08:05:00.000Z  2022-04-01T10:10:00.000Z
Taipei            2022-04-02T13:10:00.000Z  2022-04-01T16:30:00.000Z
Nagoya            2022-04-02T19:05:00.000Z  2022-04-01T11:40:00.000Z
Singapore         2022-04-01T16:50:00.000Z  2022-04-02T01:15:00.000Z
Ho Chi Minh City  2022-04-01T16:10:00.000Z  2022-04-01T19:05:00.000Z
Okinawa Island    2022-04-02T12:05:00.000Z  2022-04-01T10:55:00.000Z
Sapporo           2022-04-02T08:25:00.000Z  2022-04-01T08:40:00.000Z
Chiang Mai        2022-04-02T08:45:00.000Z  2022-04-01T20:35:00.000Z
Seoul             2022-04-02T15:45:00.000Z  2022-04-01T14:40:00.000Z
Manila            2022-04-01T18:50:00.000Z  2022-04-01T17:30:00.000Z
Da Nang           2022-04-02T15:45:00.000Z  2022-04-01T17:05:00.000Z
Dhaka             2022-04-02T21:05:00.000Z  2022-04-02T12:10:00.000Z
Kolkata           2022-04-02T22:35:00.000Z  2022-04-02T00:45:00.000Z
Hong Kong         2022-04-02T13:15:00.000Z  2022-04-01T22:15:00.000Z
Jakarta           2022-04-02T07:05:00.000Z  2022-04-01T19:05:00.000Z

                                                          deep_link  \
cityFrom                                                     Sydney
cityTo
Bangkok           https://www.kiwi.com/deep?from=SYD&to=BKK&flig...
Fukuoka           https://www.kiwi.com/deep?from=SYD&to=FUK&flig...
Hanoi             https://www.kiwi.com/deep?from=SYD&to=HAN&flig...
Kuala Lumpur      https://www.kiwi.com/deep?from=SYD&to=KUL&flig...
Phuket City       https://www.kiwi.com/deep?from=SYD&to=HKT&flig...
Osaka             https://www.kiwi.com/deep?from=SYD&to=ITM&flig...
Taipei            https://www.kiwi.com/deep?from=SYD&to=TPE&flig...
Nagoya            https://www.kiwi.com/deep?from=SYD&to=NGO&flig...
Singapore         https://www.kiwi.com/deep?from=SYD&to=SIN&flig...
Ho Chi Minh City  https://www.kiwi.com/deep?from=SYD&to=SGN&flig...
Okinawa Island    https://www.kiwi.com/deep?from=SYD&to=OKA&flig...
Sapporo           https://www.kiwi.com/deep?from=SYD&to=CTS&flig...
Chiang Mai        https://www.kiwi.com/deep?from=SYD&to=CNX&flig...
Seoul             https://www.kiwi.com/deep?from=SYD&to=ICN&flig...
Manila            https://www.kiwi.com/deep?from=SYD&to=MNL&flig...
Da Nang           https://www.kiwi.com/deep?from=SYD&to=DAD&flig...
Dhaka             https://www.kiwi.com/deep?from=SYD&to=DAC&flig...
Kolkata           https://www.kiwi.com/deep?from=SYD&to=CCU&flig...
Hong Kong         https://www.kiwi.com/deep?from=SYD&to=HKG&flig...
Jakarta           https://www.kiwi.com/deep?from=SYD&to=CGK&flig...

                                                                     \
cityFrom                                                      Tokyo
cityTo
Bangkok           https://www.kiwi.com/deep?from=NRT&to=BKK&flig...
Fukuoka           https://www.kiwi.com/deep?from=NRT&to=FUK&flig...
Hanoi             https://www.kiwi.com/deep?from=NRT&to=HAN&flig...
Kuala Lumpur      https://www.kiwi.com/deep?from=NRT&to=KUL&flig...
Phuket City       https://www.kiwi.com/deep?from=NRT&to=HKT&flig...
Osaka             https://www.kiwi.com/deep?from=NRT&to=ITM&flig...
Taipei            https://www.kiwi.com/deep?from=NRT&to=TPE&flig...
Nagoya            https://www.kiwi.com/deep?from=NRT&to=NGO&flig...
Singapore         https://www.kiwi.com/deep?from=NRT&to=SIN&flig...
Ho Chi Minh City  https://www.kiwi.com/deep?from=NRT&to=SGN&flig...
Okinawa Island    https://www.kiwi.com/deep?from=NRT&to=OKA&flig...
Sapporo           https://www.kiwi.com/deep?from=NRT&to=CTS&flig...
Chiang Mai        https://www.kiwi.com/deep?from=NRT&to=CNX&flig...
Seoul             https://www.kiwi.com/deep?from=NRT&to=ICN&flig...
Manila            https://www.kiwi.com/deep?from=NRT&to=MNL&flig...
Da Nang           https://www.kiwi.com/deep?from=NRT&to=DAD&flig...
Dhaka             https://www.kiwi.com/deep?from=NRT&to=DAC&flig...
Kolkata           https://www.kiwi.com/deep?from=NRT&to=CCU&flig...
Hong Kong         https://www.kiwi.com/deep?from=NRT&to=HKG&flig...
Jakarta           https://www.kiwi.com/deep?from=NRT&to=CGK&flig...

                 combined_price combined_duration        lat         lon
cityFrom
cityTo
Bangkok                     789             16.33  13.681100  100.747002
Fukuoka                     790             15.16  33.585899  130.451004
Hanoi                       825             24.33  21.221201  105.806999
Kuala Lumpur                828              23.5   2.745580  101.709999
Phuket City                 831             18.58        NaN         NaN
Osaka                       840             13.83  34.785500  135.438004
Taipei                      870             22.67  25.077700  121.233002
Nagoya                      877             24.58        NaN         NaN
Singapore                   897              15.5   1.350190  103.994003
Ho Chi Minh City            902              18.0  10.818800  106.652000
Okinawa Island              914             19.25        NaN         NaN
Sapporo                     926             14.34        NaN         NaN
Chiang Mai                 1002             34.41  18.766800   98.962601
Seoul                      1009             25.17  37.558300  126.791000
Manila                     1018             13.33  14.508600  121.019997
Da Nang                    1043             37.58  16.043900  108.198998
Dhaka                      1049             55.33  23.843347   90.397783
Kolkata                    1065             52.33  22.654699   88.446701
Hong Kong                  1072             23.08  22.308901  113.915001
Jakarta                    1090             25.08  -6.125570  106.655998

In [129]:
for city in list(df.index):
    if city in list(airports['city']):
        print(airports['lat'])
        print(airports['lon'])

0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64
0            NaN
1      57.092759
2      35.040199
3       9.006790
4      57.201900
         ...
569    -0.373611
570    18.182388
571    36.895545
572    33.137551
573    55.866699
Name: lat, Length: 574, dtype: float64
0             NaN
1        9.849243
2     -106.609001
3        7.263170
4       -2.197780
          ...
569    117.255556
570    121.745853
571     35.069381
572    -84.375000
573     49.133301
Name: lon, Length: 574, dtype: float64

In [130]:
df

                  price       duration        total_stops       distance  \
cityFrom         Sydney Tokyo   Sydney  Tokyo      Sydney Tokyo   Sydney
cityTo
Bangkok             349   440     9.83    6.5           0     0  7523.15
Fukuoka             661   129    13.08   2.08           1     0  7823.25
Hanoi               387   438     18.0   6.33           1     0  7798.15
Kuala Lumpur        290   538     8.83  14.67           0     1  6591.75
Phuket City         325   506      9.5   9.08           0     1   7275.7
Osaka               744    96    12.33    1.5           1     0   7790.5
Taipei              453   417     19.0   3.67           1     0  7293.46
Nagoya              773   104    23.33   1.25           1     0  7804.21
Singapore           269   628     8.25   7.25           0     0  6301.43
Ho Chi Minh City    461   441     8.92   9.08           0     1  6853.68
Okinawa Island      812   102    16.33   2.92           1     0  7141.44
Sapporo             818   108    12.67   1.67           1     0   8594.9
Chiang Mai          498   504    23.83  10.58           1     1  8064.84
Seoul               731   278    22.67    2.5           1     0  8351.95
Manila              476   542     8.33    5.0           0     0  6269.74
Da Nang             554   489    27.75   9.83           1     1  7190.96
Dhaka               577   472    34.08  21.25           1     1  9092.54
Kolkata             618   447    36.08  16.25           1     1  9150.55
Hong Kong           619   453    18.08    5.0           1     0   7402.0
Jakarta             515   575    14.33  10.75           1     1  5525.02

                                    local_departure                            \
cityFrom            Tokyo                    Sydney                     Tokyo
cityTo
Bangkok           4649.75  2022-04-01T10:50:00.000Z  2022-04-01T12:00:00.000Z
Fukuoka            940.88  2022-04-01T21:45:00.000Z  2022-04-01T07:10:00.000Z
Hanoi             3723.95  2022-04-01T13:25:00.000Z  2022-04-01T09:15:00.000Z
Kuala Lumpur      5414.54  2022-04-01T06:25:00.000Z  2022-04-01T19:00:00.000Z
Phuket City       5260.74  2022-04-01T10:25:00.000Z  2022-04-01T12:00:00.000Z
Osaka              462.63  2022-04-01T21:45:00.000Z  2022-04-01T07:50:00.000Z
Taipei            2183.46  2022-04-01T17:50:00.000Z  2022-04-01T13:50:00.000Z
Nagoya             318.77  2022-04-01T21:45:00.000Z  2022-04-01T07:20:00.000Z
Singapore         5363.07  2022-04-01T08:15:00.000Z  2022-04-01T19:00:00.000Z
Ho Chi Minh City  4388.16  2022-04-01T07:00:00.000Z  2022-04-01T09:15:00.000Z
Okinawa Island    1613.78  2022-04-01T21:45:00.000Z  2022-04-01T08:00:00.000Z
Sapporo            788.44  2022-04-01T21:45:00.000Z  2022-04-01T07:00:00.000Z
Chiang Mai        4471.46  2022-04-01T11:00:00.000Z  2022-04-01T12:00:00.000Z
Seoul              1258.3  2022-04-01T19:05:00.000Z  2022-04-01T12:00:00.000Z
Manila             3054.2  2022-04-01T13:25:00.000Z  2022-04-01T13:10:00.000Z
Da Nang            3869.9  2022-04-01T16:00:00.000Z  2022-04-01T09:15:00.000Z
Dhaka             4951.96  2022-04-01T16:00:00.000Z  2022-04-01T12:00:00.000Z
Kolkata           5190.27  2022-04-01T16:00:00.000Z  2022-04-01T12:00:00.000Z
Hong Kong         2965.46  2022-04-01T22:10:00.000Z  2022-04-01T13:20:00.000Z
Jakarta           5845.38  2022-04-01T16:00:00.000Z  2022-04-01T10:20:00.000Z

                             local_arrival                            \
cityFrom                            Sydney                     Tokyo
cityTo
Bangkok           2022-04-01T16:40:00.000Z  2022-04-01T16:30:00.000Z
Fukuoka           2022-04-02T08:50:00.000Z  2022-04-01T09:15:00.000Z
Hanoi             2022-04-02T12:10:00.000Z  2022-04-01T13:35:00.000Z
Kuala Lumpur      2022-04-01T21:35:00.000Z  2022-04-02T08:40:00.000Z
Phuket City       2022-04-01T16:30:00.000Z  2022-04-01T19:05:00.000Z
Osaka             2022-04-02T08:05:00.000Z  2022-04-01T10:10:00.000Z
Taipei            2022-04-02T13:10:00.000Z  2022-04-01T16:30:00.000Z
Nagoya            2022-04-02T19:05:00.000Z  2022-04-01T11:40:00.000Z
Singapore         2022-04-01T16:50:00.000Z  2022-04-02T01:15:00.000Z
Ho Chi Minh City  2022-04-01T16:10:00.000Z  2022-04-01T19:05:00.000Z
Okinawa Island    2022-04-02T12:05:00.000Z  2022-04-01T10:55:00.000Z
Sapporo           2022-04-02T08:25:00.000Z  2022-04-01T08:40:00.000Z
Chiang Mai        2022-04-02T08:45:00.000Z  2022-04-01T20:35:00.000Z
Seoul             2022-04-02T15:45:00.000Z  2022-04-01T14:40:00.000Z
Manila            2022-04-01T18:50:00.000Z  2022-04-01T17:30:00.000Z
Da Nang           2022-04-02T15:45:00.000Z  2022-04-01T17:05:00.000Z
Dhaka             2022-04-02T21:05:00.000Z  2022-04-02T12:10:00.000Z
Kolkata           2022-04-02T22:35:00.000Z  2022-04-02T00:45:00.000Z
Hong Kong         2022-04-02T13:15:00.000Z  2022-04-01T22:15:00.000Z
Jakarta           2022-04-02T07:05:00.000Z  2022-04-01T19:05:00.000Z

                                                          deep_link  \
cityFrom                                                     Sydney
cityTo
Bangkok           https://www.kiwi.com/deep?from=SYD&to=BKK&flig...
Fukuoka           https://www.kiwi.com/deep?from=SYD&to=FUK&flig...
Hanoi             https://www.kiwi.com/deep?from=SYD&to=HAN&flig...
Kuala Lumpur      https://www.kiwi.com/deep?from=SYD&to=KUL&flig...
Phuket City       https://www.kiwi.com/deep?from=SYD&to=HKT&flig...
Osaka             https://www.kiwi.com/deep?from=SYD&to=ITM&flig...
Taipei            https://www.kiwi.com/deep?from=SYD&to=TPE&flig...
Nagoya            https://www.kiwi.com/deep?from=SYD&to=NGO&flig...
Singapore         https://www.kiwi.com/deep?from=SYD&to=SIN&flig...
Ho Chi Minh City  https://www.kiwi.com/deep?from=SYD&to=SGN&flig...
Okinawa Island    https://www.kiwi.com/deep?from=SYD&to=OKA&flig...
Sapporo           https://www.kiwi.com/deep?from=SYD&to=CTS&flig...
Chiang Mai        https://www.kiwi.com/deep?from=SYD&to=CNX&flig...
Seoul             https://www.kiwi.com/deep?from=SYD&to=ICN&flig...
Manila            https://www.kiwi.com/deep?from=SYD&to=MNL&flig...
Da Nang           https://www.kiwi.com/deep?from=SYD&to=DAD&flig...
Dhaka             https://www.kiwi.com/deep?from=SYD&to=DAC&flig...
Kolkata           https://www.kiwi.com/deep?from=SYD&to=CCU&flig...
Hong Kong         https://www.kiwi.com/deep?from=SYD&to=HKG&flig...
Jakarta           https://www.kiwi.com/deep?from=SYD&to=CGK&flig...

                                                                     \
cityFrom                                                      Tokyo
cityTo
Bangkok           https://www.kiwi.com/deep?from=NRT&to=BKK&flig...
Fukuoka           https://www.kiwi.com/deep?from=NRT&to=FUK&flig...
Hanoi             https://www.kiwi.com/deep?from=NRT&to=HAN&flig...
Kuala Lumpur      https://www.kiwi.com/deep?from=NRT&to=KUL&flig...
Phuket City       https://www.kiwi.com/deep?from=NRT&to=HKT&flig...
Osaka             https://www.kiwi.com/deep?from=NRT&to=ITM&flig...
Taipei            https://www.kiwi.com/deep?from=NRT&to=TPE&flig...
Nagoya            https://www.kiwi.com/deep?from=NRT&to=NGO&flig...
Singapore         https://www.kiwi.com/deep?from=NRT&to=SIN&flig...
Ho Chi Minh City  https://www.kiwi.com/deep?from=NRT&to=SGN&flig...
Okinawa Island    https://www.kiwi.com/deep?from=NRT&to=OKA&flig...
Sapporo           https://www.kiwi.com/deep?from=NRT&to=CTS&flig...
Chiang Mai        https://www.kiwi.com/deep?from=NRT&to=CNX&flig...
Seoul             https://www.kiwi.com/deep?from=NRT&to=ICN&flig...
Manila            https://www.kiwi.com/deep?from=NRT&to=MNL&flig...
Da Nang           https://www.kiwi.com/deep?from=NRT&to=DAD&flig...
Dhaka             https://www.kiwi.com/deep?from=NRT&to=DAC&flig...
Kolkata           https://www.kiwi.com/deep?from=NRT&to=CCU&flig...
Hong Kong         https://www.kiwi.com/deep?from=NRT&to=HKG&flig...
Jakarta           https://www.kiwi.com/deep?from=NRT&to=CGK&flig...

                 combined_price combined_duration        lat         lon
cityFrom
cityTo
Bangkok                     789             16.33  13.681100  100.747002
Fukuoka                     790             15.16  33.585899  130.451004
Hanoi                       825             24.33  21.221201  105.806999
Kuala Lumpur                828              23.5   2.745580  101.709999
Phuket City                 831             18.58        NaN         NaN
Osaka                       840             13.83  34.785500  135.438004
Taipei                      870             22.67  25.077700  121.233002
Nagoya                      877             24.58        NaN         NaN
Singapore                   897              15.5   1.350190  103.994003
Ho Chi Minh City            902              18.0  10.818800  106.652000
Okinawa Island              914             19.25        NaN         NaN
Sapporo                     926             14.34        NaN         NaN
Chiang Mai                 1002             34.41  18.766800   98.962601
Seoul                      1009             25.17  37.558300  126.791000
Manila                     1018             13.33  14.508600  121.019997
Da Nang                    1043             37.58  16.043900  108.198998
Dhaka                      1049             55.33  23.843347   90.397783
Kolkata                    1065             52.33  22.654699   88.446701
Hong Kong                  1072             23.08  22.308901  113.915001
Jakarta                    1090             25.08  -6.125570  106.655998